* {
    margin: 0px;
    padding: 0px;
}

.rectangulo1 {
    background-color: rgb(238, 82, 82);
    height: 8vh;
    width: 30vw;
}

.cuadrado1 {
    background-color: black;
    height: 8vh;
    width: 4vw;
   }

.rectangulo2{
    background-color: blue;
    height: 5vh;
    width: 3vw;
}

.contenedor{
    display: flex;
}